.content {
  display: flex;
  flex-wrap: wrap;
}

.content h4 {
  font-size: 14px;
  padding: 10px;
}

.photo-container {
  width: 23%;
  margin: 1% 1% 2%;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  border-radius: 10px;
}

.content img {
  width: 100%;
  height: 10em;
}


.no-content {
  text-align: center;
  margin-top: 3%;
}

form {
  display: block;
  margin-top: 3%;
  text-align: center;
}

input, button {
  border: 1px solid lightgray;
  padding: 10px;
}

input {
  width: 20%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

button {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

@media screen and (max-width: 992px) {
  .photo-container {
      width: 31%;
      margin: 1% 1%;
  }
}

@media screen and (max-width: 768px) {
  .photo-container {
      width: 48%;
      margin: 1% 1%;
  }
}

@media screen and (max-width: 480px) {
  .photo-container {
      width: 98%;
      margin: 1% 1%;
  }
}